{% extends 'volunteer_base.html' %}

{% block main %}
<div class="card shadow mt-2">
    <div class="card-body">
        <h5 class="p-2" style="border-bottom : 2px solid orange">
            Accepetd Donation Details
        </h5>
        <div class="container-fluid">
            <table class="table table-bordered">
                <tr align="center">
                    <td colspan="4" style="font-size:20px; color:red">Donor Details</td>
                </tr>
                <tr align="center">
                    <th>Donor Name</th>
                    <td>{{donation.donor.user.first_name}} {{donation.donor.user.last_name}}</td>
                    <th>Donor Contact</th>
                    <td>{{donation.donor.contact}}</td>
                </tr>
                <tr align="center">
                    <th>Email</th>
                    <td>{{donation.donor.user.username}}</td>
                    <th>Donor PIC</th>
                    <td><img src="{{donation.donor.userpic.url}}" width="50px" height="50px"></td>
                </tr>

                <tr align="center">
                    <td colspan="4" style="font-size:20px; color:red">Donation Details</td>
                </tr>
                <tr align="center">
                    <th>Donation Name</th>
                    <td>{{donation.donationname}}</td>
                    <th>Donation PIC</th>
                    <td><img src="{{donation.donationpic.url}}" width="50px" height="50px"></td>
                </tr>

                <tr align="center">
                    <th>Collection Location</th>
                    <td>{{donation.collectionloc}}</td>
                    <th>Donation Date</th>
                    <td>{{donation.donationdate}}</td>
                </tr>

                <tr align="center">
                    <th>Status</th>
                    <td>{{donation.status}}</td>
                    <th>Updation Date</th>
                    <td>{{donation.updationdate}}</td>
                </tr>
                <tr align="center">
                    <th>Admin Remark</th>
                    <td colspan="3">{{donation.adminremark}}</td>
                </tr>
                
                <tr align="center">
                    <th>Volunteer</th>
                    <td colspan="3">{{donation.user.username}} [{{donation.volunteer.user.first_name}}  {{donation.volunteer.user.last_name}}]</td>
                </tr>
                <tr>
                    <th>Volunteer Remark</th>
                    <td colspan="3">{{ donation.volunteerremark }}</td>
                </tr>

                {% if donation.status == "Donation Received" %}
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                <tr align="center">
                    <th>Donation Delivered successfully ?</th>
                    <td colspan="3">
                        <input type="radio" name="status" value="Donation Delivered successfully" required>Donation Delivered successfully
                    </td>
                </tr>
                <tr align="center">
                    <th>Upload Donation Delivery PIC</th>
                    <td colspan="3">
                        <input type="file" class="form-control" name="deliverypic" accept="image/*" required>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td colspan="3">
                        <button type="submit" class="btn btn-primary pull-left">Update <i class="fa fa-arrow-circle-right"></i></button>
                    </td>
                </tr>
                </form>

                {% endif %}
            </table>
        </div>
    </div>
</div>
{% if error == "yes" %}
<script>
     alert('Something went Wrong, Try Again..!');
</script>
{% endif %}

{% if error == "no" %}
<script>
    alert('Donation status updated and delivery pic uploaded has been  successfully.. ');
    window.location.href = "{% url 'donationreceived_detail' donation.id %}";
</script>
{% endif %}
{% endblock %}